.page__footer-toggle
  padding: 0 @sm-down 0 0 35px  

.footer-toggle
  background: #fff
  position: relative 
  padding: 8px 10px @md 8px 150px
  text-align: right @md center
  &__button 
    font-size: 13px  
    text-transform: uppercase 
    cursor: pointer
    display: inline-block
    cursor: pointer
    position: relative
    padding-right: 25px 
    &:after
      content: ''
      width: 8px
      height: 8px 
      border-right: 1px solid #c6c6c6
      border-bottom: 1px solid #c6c6c6
      transform: rotate(45deg)
      position: absolute
      top: 50%
      margin-top: -6px 
      right: 0
    &.opened
      .footer-toggle__default 
        display: none 
      .footer-toggle__active  
        display: block 
      &:after
        transform: rotate(-135deg)
        margin-top: -4px 
  &__active 
    display: none
  &__id  
    font-size: 14px 
    position: absolute 
    left: 30px 
    top: 50% 
    transform: translateY(-50%)

.footer 
  border-top: 1px solid #eeeeee 
  left: 0 
  z-index: 95
  margin-top: auto
  padding: 25px 20px 10px @sm-down 0 20px 10px  @md 25px 40px 10px @lg 25px 30px 10px 
  display: none 
  &.opened
    display: block
  &__grid 
    display: flex
    justify-content: space-between 
    margin: -30px -10px 0
    flex-wrap: wrap @md wrap @lg none   
  &__section
    width: 100% @xs 50% @md 50% @lg 25%  
    padding: 30px 10px 0 
  &__copy
    padding-top: 30px 
    text-align: center
    font-size: 14px 
    color: #565656 
  &__logo
    padding-top: 45px 
  &__soc 
    padding-top: 20px 

.logo
  display: flex
  align-items: center 
  text-decoration: none
  color: inherit 
  &__icon
    width: 60px 
    margin-right: 10px 
  &__text
    font-size: 26px
    line-height: 1.2
    letter-spacing: 4px 
    text-transform: uppercase
  
.footer-menu
  line-height: 1.2
  &__title
    font-size: 15px
    text-transform: uppercase 
    margin-bottom: 15px 
  &__list-item
    margin-bottom: 10px 
    font-size: 13px 
    &:last-child
      margin-bottom: 0 
  &__list-link
    color: inherit  
    text-decoration: none
    &:hover
      text-decoration: underline 


.aside-is-collapsed 
  .footer
    left: 0 @md 0 @lg 58px   
    

.account__container
  position: relative  


.soc-list
  display: flex
  align-items: center
  margin: 0 -3px 
  &__item
    padding: 0 3px 
  &__link 
    display: block
    width: 28px
    height: 28px
    background-color: #9da6ab 
    border-radius: 5px 
  &__icon
    line-height: 30px
    text-align: center 
    .icon 
      fill: #eff1f6 
      height: 16px
      width: 16px    