.modals 
    position: fixed
    z-index: 9999
    left: 0
    top: 0
    bottom: 0
    right: 0 
    line-height: 1.2  
    opacity: 0
    pointer-events: none 
    &_tour 
        left: 251px   
    &.opened
        opacity: 1
        pointer-events: auto 
    &__overlay 
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0  
        opacity: 0.5 
        background-color: #000
        z-index: 20 
    &__item 
        height: 100% 
        width: 100% 
        position: absolute
        left: 0
        top: 0 
        z-index: 100 
        pointer-events: none 
        overflow: auto 
        opacity: 0
        &.opened
            opacity: 1
            .modals__popup
                pointer-events: auto 
    &__flex
        display: flex @md-down block  
        align-items: center 
        justify-content: center 
        height: 100% @md-down auto  
        width: 100% 
        pointer-events: none 
        padding: 50px 15px 
 

.ovh  
    overflow: hidden

.helper-popup 
    position: absolute
    overflow: auto 
    right: 0
    top: 0
    bottom: 0 
    background-color: #e9f1f8  
    width: 420px  @md-down 320px 
    &__inner
        padding: 60px 15px 45px 
        position: relative
    &__close 
        position: absolute
        right: 15px 
        top: 15px 
    &__header
        padding-left: 20px 
        margin-bottom: 20px 
    &__form
        padding-top: 25px  


.st-close 
    display: inline-block
    vertical-align: middle 
    width: 30px
    height: 30px
    transform: rotate(45deg)
    cursor: pointer
    &:hover
        &:before, &:after
            background-color: #000 
    &:before 
        content: ''
        width: 100%
        height: 2px 
        top: 50%
        margin-top: -1px
        position: absolute
        left: 0
        background-color: #727272
    &:after  
        content: ''
        width: 2px
        height: 100% 
        top: 0 
        margin-left: -1px
        position: absolute
        left: 50%
        background-color: #727272

.helper-profile
    display: flex
    &__avatar 
        width: 120px @md-down 80px 
        flex-shrink: 0  
        margin-right: 20px 
        padding-top: 15px 
        text-align: center
        .icon 
            width: 80px
            height: 80px 
            fill: #5b5b5b 
    &__title
        font-size: 18px
        margin-bottom: 10px 
        font-weight: bold 
    &__mail
        margin-bottom: 10px 
    &__phone
        margin-bottom: 10px 
    &__buttons
        font-size: 15px
        .link
            border-bottom: 1px dashed #217df3  
        p
            margin-bottom: 10px 
            &:last-child
                margin-bottom: 0 
        

.helper-title
    padding-left: 45px 
    position: relative
    &__main
        font-size: 21px
        line-height: 1
        padding: 5px 0 
    &__icon
        margin-right: 10px 
        position: absolute
        top: 0
        left: 0
        .icon 
            width: 30px 
    &__more 
        font-size: 15px 
        line-height: 1.2

          

.express-tour-popup
    background-color: #040405 
    color: #fff 
    padding: 35px 40px 20px 
    width: 560px 
    position: relative
    &_process
        .express-tour-popup__prev
            display: block
    &_finish 
        .express-tour-popup__prev
            display: block 
        .express-tour-popup__next
            display: none
        .express-tour-popup__finish
            display: block 
    &__finish
        display: none
    &__prev
        display: none 
    &__step
        display: none
        &.visible 
            display: block
    &__main 
        font-size: 21px 
        line-height: 1.2 
    &__footer
        display: flex
        justify-content: space-between 
        padding-top: 20px 
    &__button
        width: 200px 
    &__steps
        position: absolute
        top: 10px
        right: 15px 


.link
    cursor: pointer 


.callback-popup
    width: 780px @md-down auto 
    max-width: 100% @md-down 500px 
    background-color: #fff 
    position: relative
    padding: 75px 60px 15px @md-down 40px 20px 15px  
    margin: 0 @md-down 0 auto 
    &__close 
        position: absolute
        right: 20px @md-down 10px 
        top: 20px @md-down 10px  
        z-index: 20 
    &__main
        display: flex @md-down block 
        justify-content: space-between 
    &__infographic
        padding-top: 75px @md-down 0
        margin-bottom: @md-down 25px
        display: flex 
        justify-content: @md-down center
    &__content
        width: 62% @md-down 100% 
    &__title
        margin-bottom: 25px 
        text-align: left @md-down center 
    &__form 
        max-width: 250px 
        margin: 0 @md-down 0 auto 
    &__footer
        padding-top: 30px 
        text-align: center
        font-size: 16px   
    &__sup-icon
        .icon 
            width: 60px
            height: 50px 
            fill: #494949 
    &__arrow-icon
        padding: 0 5px 
        .icon
            width: 70px
            height: 50px
            fill: #fbac2e 
    &__phone-icon 
        .icon
            width: 50px
            height: 50px 
            fill: #494949 


.popup-title
    font-size: 28px  @md-down 24px 
    line-height: 1.2 


.news-popup 
    width: 730px @md-down auto 
    max-width: 100% @md-down 500px 
    background-color: #fff 
    position: relative
    padding: 75px 60px 30px @md-down 40px 20px 15px  
    margin: 0 @md-down 0 auto  
    &__close 
        position: absolute
        right: 20px @md-down 10px 
        top: 20px @md-down 10px  
        z-index: 20  
    &__footer
        display: flex 
        justify-content: space-between 
        padding-top: 30px 


.news-slider
    &__scroll-box
        overflow-y: auto
        height: 420px
    &__content
        padding-right: 30px 
    &__date 
        font-size: 13px
        text-align: right
        color: #676768  
        padding-top: 20px 

    .owl-dots
        text-align: center
    .owl-dot
        display: inline-block
        vertical-align: middle
        span
            width: 10px
            height: 10px
            border-radius: 50%
            display: inline-block
            vertical-align: middle
            background-color: #617cd6
            margin: 4px 
        &.active 
            span 
                width: 13px
                height: 13px
                background-color: #445fac 


.forcibly-tour-popup
    width: 780px @md-down auto 
    max-width: 100% @md-down 500px 
    background-color: #fff 
    position: relative
    padding: 80px 50px 100px @md-down 40px 20px 15px  
    margin: 0 @md-down 0 auto  
    display: flex
    &__close 
        position: absolute
        right: 20px @md-down 10px 
        top: 20px @md-down 10px  
        z-index: 20  
    &__icon
        width: 35%
        flex-shrink: 0 
        .icon 
            width: 100%
            height: auto
            fill: #fbac2e 
    &__content
        padding-left: 30px 
    &__button
        padding-top: 70px 