include ../inc/var.pug
include ../inc/mixins.pug
include ../blocks/header.pug
include ../blocks/footer.pug
include ../blocks/aside.pug

doctype html
html(lang="en" dir="ltr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    
    block title 
      title Start

    block head
      link(href="styles/libs.min.css" rel="stylesheet")
      link(href="styles/main.css" rel="stylesheet")
      link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")

  body
    .page 
      #sprite-symbol-svg
        include ../../img/symbol/svg/sprite.symbol.svg

      .account__container
        block aside
          +aside

        .account__container-main 
          block header
            +header

          main.account__main
            block content 
 
        .page__footer-toggle   
          .footer-toggle 
            .footer-toggle__id Ваш ID: 8757767  
            .footer-toggle__button 
                span.footer-toggle__default Развернуть  ПОДВАЛ
                span.footer-toggle__active СВЕРНУТЬ  ПОДВАЛ
                
        block footer
          +footer 

      .fixed-btns  
        button.btn.btn--warning(onclick="openModal('callback')" data-tippy="Заказать обратный звонок" data-tippy-size="small" data-tippy-placement="left" tabindex="0") 
          +svg-icon("phone") 
          | Обратный звонок
        button.btn.btn--bag-report(onclick="openModal('bug')" data-tippy="Сообщить об ошибке" data-tippy-size="small" data-tippy-placement="left" tabindex="0") 
          +svg-icon("bug")
          | Сообщить об ошибке
        button.btn.btn--success(onclick="openModal('support')" data-tippy="Ваш менеджер " data-tippy-size="small" data-tippy-placement="left" tabindex="0")
          +svg-icon("support") 
          | Ваш менеджер 

  
      
    include ../blocks/modals.pug 
    include ../blocks/modal-widget.pug 
    include ../blocks/modals-simple.pug
    include ../inc/tooltips.pug

    block foot
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js") 
      script(type="text/javascript" src="scripts/libs.min.js")
      script(type="text/javascript" src="scripts/main.js")