
    
.st-label-box
    position: relative
    display: flex
    align-items: center  
    &_md_vertical 
        display: @md-down block 
        .st-label-box__name 
            margin-bottom: @md-down 10px 
            width: @md-down 100%
            text-align: @md-down left
            padding: @md-down 0 
    &_vertical 
        display: block
        .st-label-box__name
            margin-bottom: 10px 
            width: 100%
            text-align: left
            padding: 0 
    &__phone-code
        position: absolute 
        left: -30px
        top: 50%
        transform: translateY(-50%)
    &__input
        width: 100%
    &__name
        width: 140px 
        flex-shrink: 0 
        padding-right: 15px 
        text-align: right
        color: #676a6c
        font-size: 13px 

.st-input-box
    position: relative
    &__required
        position: absolute
        top: 12px
        right: 10px
        z-index: 10
        color: #fb8070
        font-size: 24px 
        line-height: 1  

 
.st-input, .st-textarea
    border: 1px solid #E5E7E8
    border-color: #E5E7E8 
    border-radius: 1px
    padding: .5px 1rem
    min-height: 38px
    outline: 0
    text: $text-black 14px
    font-family: $font
    width: 100%
    transition: border .1s ease 
    &::placeholder
        text: #c7c7c7
    &:focus, &:hover 
        border-color: #cbcbcc 


.st-textarea
    height: 120px  
    padding: 1rem 
    resize: vertical 


.st-form 
    &__line:not(:last-child)
        margin-bottom: 10px
    &__section
        &:not(:last-child)
            margin-bottom: 20px 
        &_pl_30
            padding-left: 30px 
    &__info 
        padding-top: 10px 
        font-size: 12px 

 
.radio-label 
    display: inline-block
    vertical-align: middle 
    position: relative
    padding-left: 30px 
    &__native
        position: absolute
        left: 0
        top: 0
        opacity: 0
        z-index: -1
        &:checked +
            .radio-label__input
                border: 4px solid #2293f1
    &__input 
        width: 15px 
        height: 15px 
        position: absolute
        left: 0
        top: 50% 
        margin-top: -7px 
        border: 1px solid #9f9f9f
        background-color: #fff 
        border-radius: 50% 
 