.modals__item(data-modal-name='callback')      
    .modals__flex  
        .modals__popup.callback-popup 
            .callback-popup__close
                .st-close(onclick="closeModals()")
            .callback-popup__main 
                .callback-popup__infographic
                    .callback-popup__sup-icon  
                        +svg-icon("support") 
                    .callback-popup__arrow-icon
                        +svg-icon("big-arrow-right") 
                    .callback-popup__phone-icon 
                        +svg-icon("phone") 
                .callback-popup__content 
                    .callback-popup__title  
                        .popup-title Заказать обратный звонок
                    .callback-popup__form 
                        form.st-form 
                            .st-form__section
                                .st-form__line 
                                    label.radio-label 
                                        input(type='radio' name='type-way' checked='').radio-label__native 
                                        .radio-label__input 
                                        .radio-label__text В отдел продаж 
                                .st-form__line 
                                    label.radio-label 
                                        input(type='radio' name='type-way' checked='').radio-label__native 
                                        .radio-label__input 
                                        .radio-label__text В отдел поддержки
                            .st-form__section.st-form__section_pl_30 
                                .st-form__line 
                                    input(type='text' placeholder='Имя').st-input
                                .st-form__line  
                                    .st-label-box 
                                        .st-label-box__phone-code +7
                                        input(type='text' placeholder='Контактный телефон').st-input 
                                                    
                            .st-form__section.st-form__section_pl_30 
                                button.btn.btn--large.btn--block Отправить заявку 
            .callback-popup__footer В течении часа (в рабочее время) менеджер перезвонит вам. 
                

.modals__item(data-modal-name='bug')    
    .modals__popup.helper-popup  
        .helper-popup__inner
            .helper-popup__close
                .st-close(onclick="closeModals()")
            .helper-popup__header  
                .helper-title 
                    .helper-title__icon
                        +svg-icon("bug")
                    .helper-title__main Связь с технической поддержкой 

            .helper-popup__main  
                p Если у вас есть пожелания, замечания, или же вы хотите сообщить о любых проблемах в работе системы, пожалуйста, напишите в форме ниже.
                    
                .helper-popup__form 
                    .st-form
                        .st-form__section
                            textarea.st-textarea 

                        .st-form__section  
                            .st-file-box  
                                <label class="btn" for="message-file">Выбрать файл</label> 
                                input(id="message-file" type="file" name="message-file").input__file

                        .st-form__section   
                            button.btn.btn--block Отправить 

.modals__item(data-modal-name='support') 
    .modals__popup.helper-popup  
        .helper-popup__inner 
            .helper-popup__close
                .st-close(onclick="closeModals()") 
            .helper-popup__header  
                .helper-title
                    .helper-title__icon
                        +svg-icon("support")
                    .helper-title__main Ваш менеджер 
                    .helper-title__more 
                        a(href='#') Оценить менеджера 
            .helper-popup__main  
                .helper-popup__profile  
                    .helper-profile  
                        .helper-profile__avatar
                            +svg-icon("manager") 
                        .helper-profile__content 
                            .helper-profile__title Марина Александрова
                            .helper-profile__mail aksonov@partner.site.ru
                            .helper-profile__phone (044) 382-23-22
                            .helper-profile__buttons  
                                p
                                    span(onclick='closeModals(); openModal("callback")').link Заказать обратный звонок 
                                p
                                    a(href='#').link Позвонить нам  
                .helper-popup__form 
                    .st-form 
                        .st-form__section  
                            span.link Задать вопрос
                        .st-form__section 
                            .st-form__line 
                                label.radio-label 
                                    input(type='radio' name='type-way' checked='').radio-label__native 
                                    .radio-label__input 
                                    .radio-label__text В отдел продаж 
                            .st-form__line 
                                label.radio-label 
                                    input(type='radio' name='type-way' checked='').radio-label__native 
                                    .radio-label__input 
                                    .radio-label__text В отдел поддержки  

                        .st-form__section 
                            .st-form__line 
                                label.st-label-box.st-label-box_md_vertical
                                    .st-label-box__name Имя
                                    .st-label-box__input.st-input-box
                                        input(type='text').st-input
                                        span.st-input-box__required *  
                            .st-form__line 
                                label.st-label-box.st-label-box_md_vertical
                                    .st-label-box__name Email для свзи
                                    .st-label-box__input.st-input-box
                                        input(type='text').st-input
                                        span.st-input-box__required * 
                            .st-form__line 
                                label.st-label-box.st-label-box_md_vertical 
                                    .st-label-box__name Контактный телефон
                                    .st-label-box__input.st-input-box
                                        input(type='text').st-input
                                        span.st-input-box__required * 

                        .st-form__section 
                            label.st-label-box.st-label-box_vertical 
                                .st-label-box__name Сообщение
                                .st-label-box__input.st-input-box
                                    textarea.st-textarea 
                                    span.st-input-box__required * 


                        .st-form__section  
                            .st-file-box 
                                <label class="btn" for="message-file">Выбрать файл</label> 
                                input(id="message-file" type="file" name="message-file").input__file

                        .st-form__section  
                            button.btn.btn--block Отправить 
                            .st-form__info  
                                | Узнайте ответ на свой вопрос в списке 
                                a(href='#') часто задаваемых вопросов   
                            
