.modals    
    .modals__overlay(onclick="closeModals()") 
    .modals__item(data-modal-name='express-tour')    
        .modals__flex  
            .modals__popup.express-tour-popup 
                .express-tour-popup__arrow    
                .express-tour-popup__steps
                    span.express-tour-popup__current-step 1  
                    | / 
                    span.express-tour-popup__all-steps 5    
                .express-tour-popup__main 
                    .express-tour-popup__step(data-descr-step='1').visible Тут вы можете добавлять и управлять вашими товарами. 
                    .express-tour-popup__step(data-descr-step='2') Тут вы можете добавлять и управлять вашими товарами. Тут вы можете добавлять и управлять вашими товарами.
                    .express-tour-popup__step(data-descr-step='3') 3 пункт   
                .express-tour-popup__footer     
                    .express-tour-popup__button 
                        button.express-tour-popup__prev.btn.btn--large.btn--block(onclick='ExpressTour.changeStep("prev");') Назад
                    .express-tour-popup__button 
                        button.express-tour-popup__next.btn.btn--large.btn--block(onclick='ExpressTour.changeStep("next");') Вперед 
                        button.express-tour-popup__finish.btn.btn--large.btn--block(onclick='closeModals(); ExpressTour.unmount();') Готово  

    .modals__item(data-modal-name='forcibly-tour')     
        .modals__flex     
            .modals__popup.forcibly-tour-popup
                .forcibly-tour-popup__close 
                    .st-close(onclick="closeModals()") 
                .forcibly-tour-popup__icon
                    +svg-icon("lightning") 
                .forcibly-tour-popup__content 
                    .forcibly-tour-popup__title 
                        .popup-title Экспресс тур по Кабинету 
                    .forcibly-tour-popup__button  
                        button.btn.btn--large(onclick='closeModals(); openModal("express-tour");') Хочу быстро все узнать

    .modals__item(data-modal-name='news')    
        .modals__flex      
            .modals__popup.news-popup  
                .news-popup__close 
                    .st-close(onclick="closeModals()") 
                .news-popup__main 
                    .news-slider.owl-carousel.owl-theme.js-news-carousel  
                        - for(var i = 0; i < 5; i++) 
                            .news-slider__item
                                .news-slider__scroll-box 
                                    .news-slider__content Теперь вы абсолютно бесплатно получаете возможность создать сайт своей компании с отдельным адресом вида company.selo.ru Например, scanmix.selo.ru. Такой адрес можно указывать на визитках, в рекламе, диктовать по телефону и т.д. По сравнению со старым адресом вида https://selo.ru/firm/7671/ новый адрес короче, легче запоминается, пишется и диктуется. Также с новым адресом сайта повышается скорость индексации и рейтинг в поисковых системах, что влечет увеличение количества целевых посетителей, а это, в свою очередь, - к росту количества заказов. Теперь вы абсолютно бесплатно получаете возможность создать сайт своей компании с отдельным адресом вида company.selo.ru Например, scanmix.selo.ru. Такой адрес можно указывать на визитках, в рекламе, диктовать по телефону и т.д. По сравнению со старым адресом вида https://selo.ru/firm/7671/ новый адрес короче, легче запоминается, пишется и диктуется. Также с новым адресом сайта повышается скорость индексации и рейтинг в поисковых системах, что влечет увеличение количества целевых посетителей, а это, в свою очередь, - к росту количества заказов. Теперь вы абсолютно бесплатно получаете возможность создать сайт своей компании с отдельным адресом вида company.selo.ru Например, scanmix.selo.ru. Такой адрес можно указывать на визитках, в рекламе, диктовать по телефону и т.д. По сравнению со старым адресом вида https://selo.ru/firm/7671/ новый адрес короче, легче запоминается, пишется и диктуется. Также с новым адресом сайта повышается скорость индексации и рейтинг в поисковых системах, что влечет увеличение количества целевых посетителей, а это, в свою очередь, - к росту количества заказов. Теперь вы абсолютно бесплатно получаете возможность создать сайт своей компании с отдельным адресом вида company.selo.ru Например, scanmix.selo.ru. Такой адрес можно указывать на визитках, в рекламе, диктовать по телефону и т.д. По сравнению со старым адресом вида https://selo.ru/firm/7671/ новый адрес короче, легче запоминается, пишется и диктуется. Также с новым адресом сайта повышается скорость индексации и рейтинг в поисковых системах, что влечет увеличение количества целевых посетителей, а это, в свою очередь, - к росту количества заказов.
                                .news-slider__date 11.06.2018 г. 
                        
                .news-popup__footer 
                    .news-popup__button  
                        button.btn.btn--large.btn--outline.btn--dark Прочитаю позже
                    .news-popup__button 
                        button.btn.btn--large Понятно
   
                     

   
    include ./modals-helpers.pug 