.svg-arrow-options-dims {
	width: 9px;
	height: 17px;
}

.svg-arrow-right-dims {
	width: 3.8px;
	height: 7px;
}

.svg-attention-dims {
	width: 46px;
	height: 40px;
}

.svg-back-dims {
	width: 24px;
	height: 24px;
}

.svg-basket-dims {
	width: 18px;
	height: 15px;
}

.svg-bell-dims {
	width: 25.2px;
	height: 25.2px;
}

.svg-big-arrow-right-dims {
	width: 60px;
	height: 60px;
}

.svg-bug-dims {
	width: 28.53px;
	height: 29.29px;
}

.svg-burger-dims {
	width: 32px;
	height: 21px;
}

.svg-cart-dims {
	width: 25px;
	height: 24px;
}

.svg-clock-dims {
	width: 12px;
	height: 12px;
}

.svg-cols-dims {
	width: 18px;
	height: 9px;
}

.svg-cross-dims {
	width: 24px;
	height: 24px;
}

.svg-crown-dims {
	width: 21px;
	height: 14px;
}

.svg-cube-dims {
	width: 17px;
	height: 18px;
}

.svg-danger-dims {
	width: 32px;
	height: 32px;
}

.svg-danger-fill-dims {
	width: 24px;
	height: 24px;
}

.svg-dashboard-dims {
	width: 16px;
	height: 13px;
}

.svg-devider-dims {
	width: 26px;
	height: 26px;
}

.svg-dialog-dims {
	width: 16px;
	height: 16.07px;
}

.svg-down-dims {
	width: 8px;
	height: 5px;
}

.svg-download-dims {
	width: 27.69px;
	height: 30px;
}

.svg-email-dims {
	width: 31px;
	height: 20px;
}

.svg-exclamation-dims {
	width: 15.45px;
	height: 49px;
}

.svg-exit-dims {
	width: 18px;
	height: 30.2px;
}

.svg-facebook-logo-dims {
	width: 96.124px;
	height: 96.123px;
}

.svg-google-g-dims {
	width: 432.591px;
	height: 432.592px;
}

.svg-graph-dims {
	width: 25px;
	height: 13px;
}

.svg-help-dims {
	width: 11.25px;
	height: 11.25px;
}

.svg-info-dims {
	width: 32px;
	height: 32px;
}

.svg-lightning-dims {
	width: 50px;
	height: 50px;
}

.svg-manager-dims {
	width: 90px;
	height: 75px;
}

.svg-menu-dims {
	width: 7px;
	height: 25px;
}

.svg-package-dims {
	width: 15px;
	height: 18px;
}

.svg-phone-dims {
	width: 28.53px;
	height: 28.58px;
}

.svg-plus-dims {
	width: 41.55px;
	height: 41.55px;
}

.svg-pulse-dims {
	width: 24px;
	height: 23px;
}

.svg-search-dims {
	width: 15px;
	height: 15px;
}

.svg-settings-dims {
	width: 50px;
	height: 50px;
}

.svg-shield-dims {
	width: 24px;
	height: 25px;
}

.svg-shield-fill-dims {
	width: 24px;
	height: 24px;
}

.svg-star-dims {
	width: 15px;
	height: 14.52px;
}

.svg-success-dims {
	width: 32px;
	height: 32px;
}

.svg-support-dims {
	width: 34.24px;
	height: 29.3px;
}

.svg-tree-dims {
	width: 20px;
	height: 33px;
}

.svg-twitter-dims {
	width: 410.16px;
	height: 410.16px;
}

.svg-up-dims {
	width: 10px;
	height: 15px;
}

.svg-users-dims {
	width: 19px;
	height: 15px;
}

.svg-vk-dims {
	width: 511.96px;
	height: 511.96px;
}

.svg-warning-dims {
	width: 32px;
	height: 32px;
}

.svg-wave-arrow-dims {
	width: 18.94px;
	height: 17.51px;
}

.svg-widget-dims {
	width: 17px;
	height: 17px;
}

.svg-youtube-dims {
	width: 512px;
	height: 512px;
}

