mixin footer() 
  footer.footer   
    .footer__grid  
      .footer__section
        .footer-menu
          .footer-menu__title покупателям
          ul.footer-menu__list 
            li.footer-menu__list-item 
              a(href='#').footer-menu__list-link Как покупать на Selo.ru
            li.footer-menu__list-item 
              a(href='#').footer-menu__list-link Как оставить полезный отзыв?  
            li.footer-menu__list-item 
              a(href='#').footer-menu__list-link Безопасная покупка`
            li.footer-menu__list-item 
              a(href='#').footer-menu__list-link Каталог товаров / услуг
            li.footer-menu__list-item 
              a(href='#').footer-menu__list-link Каталог компаний

        .footer__logo 
          a(href='#').logo
            img(src='img/logo.png').logo__icon   
            .logo__text selo.ru

      .footer__section 
        .footer-menu
          .footer-menu__title Продавцам
          ul.footer-menu__list 
            li.footer-menu__list-item 
              a(href='#').footer-menu__list-link Как продавать на Selo.ru
            li.footer-menu__list-item 
              a(href='#').footer-menu__list-link Тарифы
            li.footer-menu__list-item 
              a(href='#').footer-menu__list-link История успеха
            li.footer-menu__list-item 
              a(href='#').footer-menu__list-link Отзывы о портале
            li.footer-menu__list-item 
              a(href='#').footer-menu__list-link Рейтинг компаний
            li.footer-menu__list-item 
              a(href='#').footer-menu__list-link Правила размещения
            li.footer-menu__list-item 
              a(href='#').footer-menu__list-link Правила оформления
            li.footer-menu__list-item 
              a(href='#').footer-menu__list-link Партнерская программа  
      .footer__section
        .footer-menu
          .footer-menu__title Справочная информация
          ul.footer-menu__list 
            li.footer-menu__list-item 
              a(href='#').footer-menu__list-link Справочник  ( Wiki  / FAQ)
            li.footer-menu__list-item 
              a(href='#').footer-menu__list-link Часто задаваемыые вопросы
            li.footer-menu__list-item 
              a(href='#').footer-menu__list-link Новые возможности
            li.footer-menu__list-item 
              a(href='#').footer-menu__list-link Блог
      .footer__section
        .footer-menu
          .footer-menu__title О НАС 
          ul.footer-menu__list  
            li.footer-menu__list-item 
              a(href='#').footer-menu__list-link О проекте 
            li.footer-menu__list-item 
              a(href='#').footer-menu__list-link Партнерство
            li.footer-menu__list-item 
              a(href='#').footer-menu__list-link Контакты
            li.footer-menu__list-item 
              a(href='#').footer-menu__list-link Пользовательское соглашение  
            li.footer-menu__list-item 
              a(href='#').footer-menu__list-link Политика конфиденциальности 
        .footer__soc 
          ul.soc-list
            li.soc-list__item 
              a(href='#').soc-list__link
                .soc-list__icon  
                  +svg-icon("vk")   
            li.soc-list__item 
              a(href='#').soc-list__link
                .soc-list__icon  
                  +svg-icon("facebook-logo")  
            li.soc-list__item 
              a(href='#').soc-list__link
                .soc-list__icon  
                  +svg-icon("twitter")  
            li.soc-list__item 
              a(href='#').soc-list__link
                .soc-list__icon  
                  +svg-icon("youtube")  
            li.soc-list__item 
              a(href='#').soc-list__link
                .soc-list__icon  
                  +svg-icon("google-g")   
 
    .footer__copy Selo.ru &copy; 2019 
