.cabinet-block-report {
    color: #FFF;
    cursor: pointer;
    background: url('images/bg.png');
    background: rgba(0, 0, 0, 0.85);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0px 10px #AEAEAE;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    padding: 20px;
    text-shadow: 1px 1px 0px #262626;
    line-height: 27px;
    position:absolute;
    font-size: 16px;
    z-index: 3000;
    min-width:420px;
    text-align: center;
    max-width:600px;
}

.cabinet-block-report a {
    color: #B1DAFF;
    font-weight: bold;
}

.cabinet-block-report-close {
    float:right;
    width:12px;
    height:12px;
    background: url(images/close.png);
    margin:-8px -8px 0 10px;
}

.cabinet-block-report-error {
    color: #FF4B39;
    text-shadow: 1px 1px #111111, 2px 2px #111111;
}

.buttons-block {padding-top: 15px;}
.buttons-block button {
    margin: 10px 10px 10px 10px;
    min-width: 100px;
    cursor: pointer;
}
.buttons-block button:hover span {
    color: green;
}
.buttons-block button.no span{
    font-size: 10px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 10px;
}
.buttons-block button.no:hover span{
    color: red;
}
#overlay-confirm {
    background: #ddd;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0.5;
}
.cabinet-block-report-confirm {
    cursor: default;
}

@media only screen and (max-width: 680px) {
    .cabinet-block-report {
        min-width: 0;
        max-width: 90%;
    }
}